@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap');

* {
    box-sizing: border-box;
}
body{
    background-color: rgb(19, 18, 18);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
}
input{
    background-color: black;
    border-radius: 10px;
    border: 2px solid rgb(220, 211, 211);
    border: none;
    font-family: inherit;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    color: white;
}
input::placeholder{
    color: #bbb;
}
input:focus{
    outline: none;
}
main{
    box-shadow: 1px 1px 2px 0.5px rgba(237,237,237,0.75);
    background-color: black;
    display: flex;
    padding: 3rem;
    border-radius: 20px;
    max-width: 800px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(33, 31, 31);
}
.side{
    margin-left: 2rem;
    color: #ccc;
}
.side h2{
    margin-top: 0;
}
.side ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
    list-style-type: none;
}
.side ul li{
   display: flex;
    align-items: center;
}
.side ul li strong {
    font-size: 0.8rem;
    margin-left:0.5rem;
}
.list a  {
    color: white;
  
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem; 
  
    background-color: rgb(33, 31, 31);
    padding: 0.3rem 0.3rem;
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}
button{
    background-color: transparent;
    color: #aaa;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
}
button:focus{
    outline: none;
}
@media only screen and (max-width: 800px) {
    .container {
      flex-wrap: wrap;
    }
    main{
        max-width: 400px;
    }
    .side ul li{
        display: flex;
         align-items: center;
         margin-left: 0.5rem;
  }
}