<!-- <!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Github Profile App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
	<nav class="navbar navbar-light bg-light justify-content-between">
		<a class="navbar-brand">GithubProfile App</a>
		<form class="form-inline" th:action="@{/search}" method="GET">
			<input class="form-control mr-sm-2" type="search" name="name" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</nav>
	<div class="container">

		<div class="card" style="width: 18rem;" th:each="user: ${users}">
			<img class="card-img-top" th:src="${user.avatar_url}" alt="Card image cap">
			<div class="card-body ">
				<h5 class="card-title" th:text="${user.name}">Card title</h5>
				<p class="card-text" th:text="${user.bio}">Some quick example text to build on the card title and
					make up the bulk of the card's
					content.</p>
				<span class="badge badge-success" th:text=${user.following}></span>
				<span class="badge badge-success" th:text=${user.followers}></span>
				<span class="badge badge-success"></span>
				<a href="" class="badge badge-success"
					th:href="@{'https://github.com/'+${user.login}+'?tab=repositories'}">Repos</a>
			</div>
		</div>

		<div class="card" style="width: 18rem;" th:each="repo: ${repos}">
			<div class="card-body ">
				<span class="badge badge-success" th:text=${repo.name}></span>
			</div>


		</div>
	</div>
</body>

</html> -->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Profile App</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
        <form th:action="@{/search}" method="GET">
            <input type="search" name="name" id="" autocomplete="off" placeholder="Search a Github User">
			<button type="submit">
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>
        </form>
      <main>
          <div class="container" th:each="user: ${users}">
              <img th:src="${user.avatar_url}" alt="" srcset="">
              <div class="side">
                  <h1 th:href="${user.html_url}"  th:text="${user.name}"></h1>
                  <p th:text="${user.bio}"></p>
                  <ul>
                      <li>Followers<strong th:text=${user.followers}></strong></li>
                      <li>Following<strong th:text=${user.following} ></strong></li>
					  <li>Repos<strong th:text="${#lists.size(total_repos)}"></strong></li>
					</ul>
					<div class="list" th:each="repo: ${repos}">
                      <a href="#" th:href="${repo.url}" <span th:text="${repo.name}"> </span></a>
                  </div>
              </div>
          </div>
        </main>
</body>
</html>